In [1]:
from dask import dataframe as ddf
import pandas as pd
from dask.distributed import Client, LocalCluster
from dask.delayed import delayed

In [2]:
# cluster = LocalCluster()
# client = Client(cluster)
# client

In [11]:
%%time
dataset_columns = ["target", "ids", "date", "flag", "user", "text"]

dataset=pd.read_csv('testdataset.csv',encoding='latin-1',lineterminator="\n",names=dataset_columns)
print(dataset)

         target         ids                          date      flag  \
0             0  1467810369  Mon Apr 06 22:19:45 PDT 2009  NO_QUERY
1             0  1467810672  Mon Apr 06 22:19:49 PDT 2009  NO_QUERY
2             0  1467810917  Mon Apr 06 22:19:53 PDT 2009  NO_QUERY
3             0  1467811184  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY
4             0  1467811193  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY
...         ...         ...                           ...       ...
1599995       4  2193601966  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599996       4  2193601969  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599997       4  2193601991  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599998       4  2193602064  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
1599999       4  2193602129  Tue Jun 16 08:40:50 PDT 2009  NO_QUERY

                    user                                               text
0        _TheSpecialOne_  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1          scotthamilton  is upset that he can't update his Facebook by ...
2               mattycus  @Kenichan I dived many times for the ball. Man...
3                ElleCTF    my whole body feels itchy and like its on fire
4                 Karoli  @nationwideclass no, it's not behaving at all....
...                  ...                                                ...
1599995  AmandaMarie1028  Just woke up. Having no school is the best fee...
1599996      TheWDBoards  TheWDB.com - Very cool to hear old Walt interv...
1599997           bpbabe  Are you ready for your MoJo Makeover? Ask me f...
1599998     tinydiamondz  Happy 38th Birthday to my boo of alll time!!! ...
1599999   RyanTrevMorris  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 6 columns]
CPU times: user 2.52 s, sys: 325 ms, total: 2.85 s
Wall time: 3.06 s

In [12]:
%%time
dataset_dask=ddf.read_csv('testdataset.csv',encoding='latin-1',lineterminator="\n",names=dataset_columns)
print(dataset_dask.compute())

        target         ids                          date      flag  \
0            0  1467810369  Mon Apr 06 22:19:45 PDT 2009  NO_QUERY
1            0  1467810672  Mon Apr 06 22:19:49 PDT 2009  NO_QUERY
2            0  1467810917  Mon Apr 06 22:19:53 PDT 2009  NO_QUERY
3            0  1467811184  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY
4            0  1467811193  Mon Apr 06 22:19:57 PDT 2009  NO_QUERY
...        ...         ...                           ...       ...
314130       4  2193601966  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
314131       4  2193601969  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
314132       4  2193601991  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
314133       4  2193602064  Tue Jun 16 08:40:49 PDT 2009  NO_QUERY
314134       4  2193602129  Tue Jun 16 08:40:50 PDT 2009  NO_QUERY

                   user                                               text
0       _TheSpecialOne_  @switchfoot http://twitpic.com/2y1zl - Awww, t...
1         scotthamilton  is upset that he can't update his Facebook by ...
2              mattycus  @Kenichan I dived many times for the ball. Man...
3               ElleCTF    my whole body feels itchy and like its on fire
4                Karoli  @nationwideclass no, it's not behaving at all....
...                 ...                                                ...
314130  AmandaMarie1028  Just woke up. Having no school is the best fee...
314131      TheWDBoards  TheWDB.com - Very cool to hear old Walt interv...
314132           bpbabe  Are you ready for your MoJo Makeover? Ask me f...
314133     tinydiamondz  Happy 38th Birthday to my boo of alll time!!! ...
314134   RyanTrevMorris  happy #charitytuesday @theNSPCC @SparksCharity...

[1600000 rows x 6 columns]
CPU times: user 2.8 s, sys: 612 ms, total: 3.41 s
Wall time: 2.56 s

In [5]:
%%time
#slice operation
df1_dask=dataset_dask[['target','ids']]
df2_dask=dataset_dask[['date','flag']]
df3_dask=dataset_dask[['user','text']]

CPU times: user 1.81 ms, sys: 861 Âµs, total: 2.67 ms
Wall time: 3.7 ms

In [6]:
%%time
#slice operation
df1=dataset[['target','ids']]
df2=dataset[['date','flag']]
df3=dataset[['user','text']]

CPU times: user 75.6 ms, sys: 144 ms, total: 220 ms
Wall time: 322 ms

In [7]:
%%time
#concat operation_pandas
concate_dask=pd.concat([df1,df2,df3])

CPU times: user 172 ms, sys: 84.4 ms, total: 256 ms
Wall time: 312 ms

In [8]:
%%time
#concat operation_dask
concate_dask=ddf.concat([df1_dask,df2_dask,df3_dask])

CPU times: user 64.9 ms, sys: 29.2 ms, total: 94 ms
Wall time: 101 ms